

body {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
 width: 100%;
 height:400vh; 
 display:flex;
 justify-content:center;
 flex-wrap: wrap;
 
  
}


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.fondo-circular {
  position: fixed;
  width: 35vw;
  height: 75vh;
  top:12.5vh;
  right:12.5%;
  padding-left:5vw; 
  background:rgb(255,255,255,0.2);
  border-radius: 50%;
  box-shadow: 3px 3px 140px 50px rgb(255,255,255,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-right:1vh solid rgb(255,255,255,0.1);  
  z-index: 10;

  
  }
  
  
  
  
  .fondo-circular:before {
    content: "";
  position: absolute;
  width: 28vw;
  height: 28vw;
  background:rgb(255,255,255,0.1); 
  box-shadow: 3px 3px 140px 50px rgb(255,255,255,0.2);
  border-radius: 50%;
  border-bottom:1vh solid rgb(255,255,255,0.1);   
  }
  
  
  
.contenedor-redes {
  position:fixed;
  width:51vw;
  height:9vh;
  right:1.1%;
  top:1.7vh; 
  z-index:2000;
  }

  
.nombre {
  position: absolute;
  width:12vw;
height: 7.5vh;
display: flex;
justify-content: center;
align-items: center;
left:0%;
color:white;
font-size:2vw; 
font-family: 'Dancing Script' , cursive;
}

.nombre:before {
content: "";
position: absolute;
width:14vw;
height: 0.3vh ;
background:rgb(240,240,240);
border-radius: 20vw; 
left:100%;

}



.redes {
  position: absolute;
  padding-right:1vw;
  padding-left:1vw;
  right: 0%;
  width: 21vw;
  height: 7.5vh;
  background:black;
  background:white; 
  z-index: 1000000000000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 0.7vh solid rgb(240,240,240);
  border-radius: 50vw;
  background:linear-gradient(-40deg,rgb(62,80,193,1) , rgb(29,146,226,1));
  box-shadow: 2px 2px 5px 2px rgb(0,0,0,0.2);
  box-shadow: 3px 3px 140px 50px rgb(255,255,255,0.2);
  box-shadow: 3px 3px 8px 4px rgb(255,255,255,0.2);
   background:white; 
  }
 
  .redes:before {
  content: "";
  width: 95%;
  position: absolute;
  height: 80%;
  box-shadow: 0px 0px 0px 0.3vh rgb(49,105,206,1);
  border-radius: 50vw;
  
  }

 
.descargar-cv {
  position: relative;
width: max-content;
padding: 1vh 0.5vw 1vh 0.5vw ;
border-radius:1vw;
background:white;
box-shadow: 0px 0px 6px 2px rgb(0,0,0,0.1); 
font-family: Segoe UI Symbol;
font-size: 1.1vw;
color:black;

}

.redes {
  cursor: pointer;
}

.redes a {
text-decoration:none;
cursor: pointer;
}

.redes a i {
  position: relative;
font-size: 1.5vw;
display: flex;
align-items: center;
color:white;
background:rgb(50,50,50);
box-shadow: 1px 1px 6px 2px rgb(0,0,0,0.2);
padding: 1vh 0.5vw 1vh 0.5vw ;
border-radius: 1vw;
cursor: pointer;

}




.redes a i p {
  position: relative;

font-family: Segoe UI Symbol;
font-size: 1.1vw;
color:white;
padding: 0vh 0vw 0vh 0.3vw ;
margin:0vh 0vh 0vh 0vh; 
cursor: pointer;


}

.redes a .fa-linkedin {
  background:linear-gradient(120deg,#396afc,#2948ff); 
  box-shadow: 1px 1px 5px 2px rgb(36, 83, 235,0.3);
  cursor: pointer;
  }








.Contenedor-navegacion {
  position: fixed;
  width: 11.5vw;
  height: 100%;
  
 
  overflow: hidden;
  right:0% ;
  display: flex;
justify-content: center;
align-items: center;
z-index: 100;

}
  

.Contenedor-navegacion nav {
  position: absolute;
  width: 25vw;
  height: 25vw;
  left:1vw;
 border-radius: 50%;
  background:rgb(60,60,60);
   background: linear-gradient(to right,  rgb(57,106,252,0.8),rgb(57,106,252,0.8)); 
overflow: hidden;

display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
box-shadow: 3px 3px 8px 4px rgb(255,255,255,0.8);
z-index: 100;
background-size: cover;
background:linear-gradient(120deg,rgb(62,80,193,1) , rgb(29,146,226,1));


background-size: cover;



}



.Contenedor-navegacion nav:before {
  content: "";
position: absolute;
width: 10vw;
height: 10vw;
border-radius: 50%;
box-shadow: -1px 0px 0px 2px rgb(255,255,255,1);
background:rgb(62,80,193,0.6) ;

z-index: 10000;
background:rgb(247,119,35,1) ;


}

.tab1 , .tab2 , .tab3 , .tab4{
  position: relative;
  width: 25vw;
  height: 25%;
  background:linear-gradient(-40deg,rgb(62,80,193,1) , rgb(29,146,226,1));
  margin: 0vw 0vw 0vw 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  left:-18%;
  font-family: Segoe UI Symbol;
  font-size: 1.3vw;
  color:white;
  box-shadow: 0px 0px 0px 3px rgb(247,159,35,0.5);
 


  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  


  }
  
  
   .tab2 , .tab3  {
   left:-30%;
    }
  
  .tab1:hover , .tab2:hover , .tab3:hover , .tab4:hover {
  font-size:1.5vw;  
  cursor: pointer;
  
  
  }
  
  .Contenedor-navegacion-movil {
display: none;
  }

  
@media only screen and (min-width: 280px) and (max-width: 840px) {

  
  .fondo-circular {
    display: none;  
    }
    
  
  
  
  
  
.contenedor-redes {
  position:fixed;
  width:max-content;
  height:max-content;
  left:0%;
  top:0vh; 
  z-index:100000000000000000;
 
  }

  
.nombre {

display: none;
}

.nombre:before {
content: "";
position: absolute;
width:14vw;
height: 0.3vh ;
background:rgb(240,240,240);
border-radius: 20vw; 
left:100%;

}



.redes {
  position: absolute;
  padding-right:2vw;
  padding-left:4vw;
  left:0%;
  width: 75vw;
  height: 6vh;
  background:black;
  background:rgb(0,0,0,0.0); 
  z-index: 1000000000000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  border-radius: 0vw;
  border: 1.2vh solid rgb(240,240,240);
  border-left: 0.7vh solid rgb(240,240,240);
  border-bottom-right-radius: 5vw;
  background:linear-gradient(-40deg,rgb(62,80,193,1) , rgb(29,146,226,1));
  box-shadow: 2px 2px 5px 2px rgb(0,0,0,0.2);
  box-shadow: 3px 3px 140px 50px rgb(255,255,255,0.2);
  box-shadow: 3px 3px 8px 4px rgb(255,255,255,0.2);
   background:white; 
   box-shadow: 3px 3px 8px 3px rgb(255,255,255,0.2);
   
  }
  
  .redes:before {
  content: "";
  width: 95%;
  position: absolute;
  height: 80%;
  box-shadow: 0px 0px 0px 0.4vh rgb(49,105,206,1);
  border-radius: 50vw;
  
  }

  
.descargar-cv {
  position: relative;
width: max-content;
padding: 1vh 2vw 1vh 2vw ;
border-radius:2vh;
background:white;
box-shadow: 0px 0px 6px 2px rgb(0,0,0,0.2); 
font-family: Segoe UI Symbol;
font-size: 2vh;



}


.redes a i {
  position: relative;
font-size: 3.4vh;
display: flex;
align-items: center;
color:white;
background:rgb(50,50,50);
box-shadow: 1px 1px 6px 2px rgb(0,0,0,0.2);
padding: 1vh 1vh 1vh 1vh ;
border-radius: 1vh;
}


.redes a i p {
  position: relative;

font-family: Segoe UI Symbol;
font-size: 2.3vh;
color:white;
padding: 0vh 0vw 0vh 1vh ;
margin:0vh 0vh 0vh 0vh; 


}

.redes .fa-instagram {
background:linear-gradient(120deg,fuchsia,crimson); 
box-shadow: 1px 1px 5px 2px rgb(255,0,255,0.4);
z-index: 2000;
}




.Contenedor-navegacion {
display: none;
}
  

.Contenedor-navegacion-movil {


    position:fixed;
    top:0;
    width: 11vw;
    height: 8vh;
    background: grey;
      overflow: none;
    right:0% ;
    display: block;
  z-index: 100000000000000;
  
  background: rgb(255,150,29);
   border-top-left-radius:40% ;
   border-bottom-left-radius:40% ;
   box-shadow: -2px -2px 1px 7px  rgb(255,255,255,0.2);
   
 
 font-size:2vh ;




}



  




.tab1-movil , .tab2-movil , .tab3-movil , .tab4-movil {

 
color:white;
padding: 2.5vh 0vh 2.5vh 0vw;
  
  margin: 0%;
  box-shadow: 0px 0px 0px 1px  rgb(56,104,252,1);
  display: grid;
  justify-content: center;
  align-items: center;
  }
  
  
  .Contenedor-navegacion-movil  i {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center ;
    align-items: center;
    font-size:4.5vw;
    color:white;

  }

  @media screen and (min-width:500px) {
   .redes{
    width: 50vw;
   }
    
    }
  } 


  
  
  
  